{% extends 'base.html.twig' %}

{% block title %}Classe index{% endblock %}

{% block body %}
    <h1>Classe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_classe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr>
                <td>{{ classe.id }}</td>
                <td>{{ classe.nomClasse }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('classe_show', {'id': classe.id}) }}">Afficher</a>
                    <a class="btn btn-primary" href="{{ path('classe_edit', {'id': classe.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('classe_new') }}">Ajouter une classe</a>
{% endblock %}
